SIANWEB/Web References/WS_CFDICancelacion/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CancelacionWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelacionWSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEdoCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RFCEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RFCReceptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TotalCFDI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolioFiscal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEdoCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaEdoCFDIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperaCFDIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CancelacionWSSoapIn">
    <wsdl:part name="parameters" element="tns:CancelacionWS" />
  </wsdl:message>
  <wsdl:message name="CancelacionWSSoapOut">
    <wsdl:part name="parameters" element="tns:CancelacionWSResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaEdoCFDISoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaEdoCFDI" />
  </wsdl:message>
  <wsdl:message name="ConsultaEdoCFDISoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaEdoCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperaCFDISoapIn">
    <wsdl:part name="parameters" element="tns:RecuperaCFDI" />
  </wsdl:message>
  <wsdl:message name="RecuperaCFDISoapOut">
    <wsdl:part name="parameters" element="tns:RecuperaCFDIResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="CancelacionWS">
      <wsdl:input message="tns:CancelacionWSSoapIn" />
      <wsdl:output message="tns:CancelacionWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEdoCFDI">
      <wsdl:input message="tns:ConsultaEdoCFDISoapIn" />
      <wsdl:output message="tns:ConsultaEdoCFDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaCFDI">
      <wsdl:input message="tns:RecuperaCFDISoapIn" />
      <wsdl:output message="tns:RecuperaCFDISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelacionWS">
      <soap:operation soapAction="http://tempuri.org/CancelacionWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEdoCFDI">
      <soap:operation soapAction="http://tempuri.org/ConsultaEdoCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaCFDI">
      <soap:operation soapAction="http://tempuri.org/RecuperaCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelacionWS">
      <soap12:operation soapAction="http://tempuri.org/CancelacionWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEdoCFDI">
      <soap12:operation soapAction="http://tempuri.org/ConsultaEdoCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaCFDI">
      <soap12:operation soapAction="http://tempuri.org/RecuperaCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://40.124.41.101/WSCancelacion/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://40.124.41.101/WSCancelacion/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>