CapaDatos/Web References/ConsulltaEstatusCFDISAT/ServicioConsultaCFDI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServicioConsultaCFDI_Consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServicioConsultaCFDI_ConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServicioConsultaCFDI_ConsultaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioConsultaCFDI_ConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioConsultaCFDI_Consulta" />
  </wsdl:message>
  <wsdl:message name="ServicioConsultaCFDI_ConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioConsultaCFDI_ConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioConsultaCFDISoap">
    <wsdl:operation name="ServicioConsultaCFDI_Consulta">
      <wsdl:input message="tns:ServicioConsultaCFDI_ConsultaSoapIn" />
      <wsdl:output message="tns:ServicioConsultaCFDI_ConsultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioConsultaCFDISoap" type="tns:ServicioConsultaCFDISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioConsultaCFDI_Consulta">
      <soap:operation soapAction="http://tempuri.org/ServicioConsultaCFDI_Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioConsultaCFDISoap12" type="tns:ServicioConsultaCFDISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioConsultaCFDI_Consulta">
      <soap12:operation soapAction="http://tempuri.org/ServicioConsultaCFDI_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioConsultaCFDI">
    <wsdl:port name="ServicioConsultaCFDISoap" binding="tns:ServicioConsultaCFDISoap">
      <soap:address location="http://40.124.41.101/ConsulltaEstatusCFDISAT/ServicioConsultaCFDI.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioConsultaCFDISoap12" binding="tns:ServicioConsultaCFDISoap12">
      <soap12:address location="http://40.124.41.101/ConsulltaEstatusCFDISAT/ServicioConsultaCFDI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>