SIANWEB/Service References/ServiceCentral/ServCentral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServCentral" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://40.84.229.61/WS_Solic_SIANCENTRAL/ServCentral.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://40.84.229.61/WS_Solic_SIANCENTRAL/ServCentral.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://40.84.229.61/WS_Solic_SIANCENTRAL/ServCentral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CN_ServSolicitudes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServCentral_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServCentral_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServCentral_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServCentral_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServCentral_GetSolicitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolicitudes" />
  </wsdl:message>
  <wsdl:message name="IServCentral_GetSolicitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolicitudesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServCentral">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCentral/GetData" message="tns:IServCentral_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCentral/GetDataResponse" message="tns:IServCentral_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCentral/GetDataUsingDataContract" message="tns:IServCentral_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCentral/GetDataUsingDataContractResponse" message="tns:IServCentral_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolicitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCentral/GetSolicitudes" message="tns:IServCentral_GetSolicitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCentral/GetSolicitudesResponse" message="tns:IServCentral_GetSolicitudes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServCentral" type="tns:IServCentral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServCentral/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServCentral/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolicitudes">
      <soap:operation soapAction="http://tempuri.org/IServCentral/GetSolicitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServCentral">
    <wsdl:port name="BasicHttpBinding_IServCentral" binding="tns:BasicHttpBinding_IServCentral">
      <soap:address location="http://40.84.229.61/WS_Solic_SIANCENTRAL/ServCentral.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>